footer{
    display: flex;
    flex-direction: column;
    padding: 57px 100px;
    background-color: #00403D;
    box-sizing: border-box;
}
footer > *{
    color: #fff;
}
.upperBlock{
    display: flex;
    gap: 20%;
    padding-bottom: 50px;
    border-bottom: 1px solid #fff;
}
.footerItems{
    display: flex;
    gap: 100px;
}
.footerItem h4{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}
.footerItem ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
}
.footerItem ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
}

.contact h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 30px;
}
.contact input{
    width: 360px;
    box-sizing: border-box;
    padding: 15px 5px;
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}
.contact input::placeholder{
    color: #fff;
}

.lowerBlock{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 5px;
}
.lowerBlock span{
    font-size: 16px;
    font-weight: 400;
}
.contact2{
    display: none;
}

@media(max-width:1360px){
    .upperBlock{
        gap: 10%;
    }
}

@media(max-width:1300px){
    footer{
        font-size: 16px;
    }
    footer{
        padding: 57px 50px;
    }
    .footerItem h4{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .footerItem ul li{
        gap: 10px;
        font-size: 14px;
    }
    .contact h4{
        font-size: 18px;
        margin-bottom: 30px;
    }
    .contact input{
        padding: 15px 5px;
        font-size: 17px;
        margin-bottom: 20px;
    }
    .lowerBlock span{
        font-size: 14px;
    }
}


@media(max-width:1150px){
    footer{
        padding: 50px;
    }
    .upperBlock{
        gap: 2%;
    }
    .footerItems{
        gap: 60px;
    }
    .footerItem h4{
        font-size: 18px;
    }
    .footerItem ul li{
        font-size: 12px;
    }
    .contact h4{
        font-size: 16px;
    }
    .contact input{
        padding: 15px 5px;
        font-size: 15px;
    }
    .contact button{
        font-size: 16px;
    }
}

@media(max-width:950px){
    footer{
        padding: 30px 40px;
    }
    .upperBlock{
        gap: 50px;
    }
    .footerItems{
        gap: 40px;
    }
    .contact button{
        font-size: 14px;
    }
    .contact input{
        width: 260px;
    }
}
@media(max-width:870px){

    .upperBlock{
        gap: 40px;
    }
    .footerItems{
        gap: 30px;
    }
    .footerItem h4{
        font-size: 14px;
    }
    .contact h4{
        font-size: 14px;
    }
    .contact input{
        padding: 15px 5px;
        font-size: 14px;
    }
    .contact button{
        font-size: 12px;
    }
}

@media(max-width:730px){
    footer{
        padding: 32px 65px;
    }
    .upperBlock{
        flex-direction: column;
        align-items: unset;
        margin-bottom: 50px;
    }
    .footerItems{
        flex-direction: column;
        gap: 32px;
    }
    .footerItem h4{
        font-size: 22px;
        margin-bottom: 20px;
    }
}

@media(max-width:500px){
    footer{
        padding: 32px 65px;
    }
    footer > *{
        color: #fff;
    }
    .upperBlock{
        flex-direction: column;
        align-items: unset;
        gap: 0;
        margin-bottom: 50px;
    }
    .footerItems{
        flex-direction: column;
        gap: 32px;
    }
    .footerItem h4{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .contact{
        display: none;
    }
    .contact2{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .contact2 span{
        font-size: 20px;
        font-weight: 500;
    }
    
    .lowerBlock{
        margin-top: 32px;
        gap: 16px;
    }
}